@import "tailwindcss";

/* Hide scrollbars but keep scroll functionality */
.custom-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}